.container{
    height: 100vh;
    max-width: 992px;

    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;  
}

@media (max-width: 800px){

    .ExperienceBar{
        max-width: 10rem;
    }

    .container{
        align-items: center;
    }

    .container section{
        display: flex;
        flex-direction: column;

        max-width: 100rem;
    }

    .container section{
        display: flex;
        flex-direction: column;

    }

    .container section div{
        margin-top: 2rem;

        max-width: 500px;

        align-items: center;
        
    }



}